exportPattern("^[[:alpha:plyr]]+")
import("XML")
import("plyr")
import("ade4")
import("plotrix")
importFrom("grDevices","pdf")
importFrom("graphics","abline","axis","boxplot","layout","legend","lines","par","plot","points","rect","segments","text")
importFrom("utils","read.table","write.table")
importFrom("seqinr","read.fasta")












